# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore the npm debug log
npm-debug.log*

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo