# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore local configuration
/src/configs/config_localhost.js

# Ignore any config.js files in any directory
**/config.json

# Ignore key folders
key/